

/* Teste menu responsivo CSS */

body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #743320;
  float: left;
  padding: 10px 0px;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav ul li a {
  padding: 10px;
  color: #FFE7BA;
  font-size: 1.3em;
}

#bt_menu, .menu {
  display: none;
}

@media screen and (max-width: 480px) {
  nav {
    display: none;
  }
  #bt_menu:checked ~ nav {
    display: block;
  }
  .menu {
    display: block;
    background-color: rgb(184, 121, 90);
    padding: 10px;
    float: right;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: block;
    padding: 10px 0px;
  }
  nav ul li a {
    width: 100%;
    float: left;
    text-align: center;
  }
}