
@import url('tabela.css');

html {
  color: #191970;
  font-family: 'PT Serif', serif;
}

h1, h2 {
  font-weight: 400;
}

p {
  font-weight: normal;
}

ul {
  padding-left: .5rem;
  margin-left: .5rem;
  font-size: 2rem;
}

li {
  letter-spacing: 0.01rem;
  line-height: 1.5;
}

ul li {
	font-size: .8em;
	width: 80%;
	height: 3rem;
}

body {
  background: url("../imagens/texture_1.jpg") center top #eee;
}

a {
  color: #191970;
  text-decoration: none;
  display: block;
  width: 100%;
  height: auto;
}

a:hover {
  color: #E0EEEE;
  background: #191970;
}

section {
  background: rgba(255, 255, 255, 0.75);
}

.navegacao {
  background-color: rgba(54, 100, 139, 0.45);
  padding: .5rem;
  margin: .5rem;
}

.navegacao li a {
  padding: .5rem;
}

footer p {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin-right: 15rem;
}