html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f0f2f4;
}

.main-container {
  display: block;
  margin: 0 auto;
}

.container {
  display: block;
  float: left;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
}

header {
  background-color: #0f2443;
  display: block;
  float: left;
  padding: 8px 0;
  width: 100%;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-left: 2rem;
  width: 15%;
}

section {
  display: block;
  float: left;
  font-size: 1.6rem;
  padding: 20px 0;
  width: 100%;
}

.menu {
  display: block;
  float: left;
  height: 80vh;
  padding-left: 2rem;
  overflow: hidden;
  width: 15%;
}

.menu ul {
  display: block;
  margin: 0 80px 0 0;
  padding: 10px 0;
  width: 100%;
}

.menu li a {
  background-color: #cddaef;
  color: #247bff;
  display: block;
  font-size: 1.6rem;
  margin: 3px 0;
  text-decoration: none;
  padding: 10px;
}

.menu li a:hover {
  background-color: #97b3dd;
  color: #dce6f4;
}

label[for="bt_menu"] {
  padding: 5px;
  background-color: #0f2443;
  color: #dce6f4;
  font-family: 'Zen Old Mincho', serif;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

#bt_menu {
  display: none;
}

label[for="bt_menu"] {
  display: none;
}

section article {
  display: block;
  float: left;
  padding-left: 90px;
  width: 65%;
}

h1 {
  color: #1d55aa;
  display: flex;
  justify-content: center;
  float: none;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.peixe {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  width: 56%;
}

.aquario a {
  color: #476a9e;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin-top: -2rem;
  padding-bottom: 20px;
  text-decoration: none;
}

p {
  color: #476a9e;
  line-height: 1.5;
  margin-bottom: 10px;
}

p strong {
  color: #247bff;
}

ol {
  margin-left: 15px;
}

ol li {
  color: #247bff;
  font-size: 1.4rem;
  margin: 1rem;
  line-height: 1.5;
}

#tenho-interesse { 
  width: 100%;
}

.cognito {
  height: 480px !important;
  overflow: hidden !important;
}

footer {
  background-color: #0f2443;
  display: block;
  float: left;
  padding: 28px 0;
  width: 100%;
}

footer p {
  color: #dce6f4;
  font-size: 1.4rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

footer small {
  font-size: 80%;
  display: block;
}

.button-home img {
  float: right;
  margin-right: 2rem;
  width: 25px;
}

@media (max-width: 425px) {
  .logo {
    margin-left: 3.6rem;
    width: 42%;
  }

  .container {
    padding: 3px;
    width: 56%;
  }

  section nav {
    height: 8%;
  }

  section nav,
  section article {
    width: 10%;
  }

  h1 {
    font-size: 2rem;
    text-align: justify;
  }

  .peixe {
    width: 100%;
  }

  article p, li {
    text-align: justify;
  }

  label[for=bt_menu]{
    display: block;
  }

  #bt_menu:checked ~ .menu {
   margin-left: 0;
  }

  .menu {
    margin-left: -120%;
    transition: all .6s;
  }

  .menu ul li {
    width: 85%;
    float: none;
  }

  .cognito {
    height: 530px !important;
    overflow: hidden !important;
  } 

  footer p {
    font-size: 10px;
    margin-left: 3.6rem;
    margin-top: 5rem;
  }

  .button-home img {
    margin-right: 3.6rem;
  }
}
