
html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f0f2f4;
}

.main-container {
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.container {
  display: block;
  float: left;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

article .container  {
  border-left: solid 1px  #adc6eb;
}

header {
  background-color: #0f2443;
  display: block;
  float: left;
  padding: 8px;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  width: 15%;
}

.aquario a {
  color: #476a9e;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding-bottom: 20px;
  text-decoration: none;
}

.peixe {
  padding-bottom: 5px;
}

#tenho-interesse {
  width: 100%;
}

h1 {
  color: #1d55aa;
  display: flex;
  justify-content: center;
  float: none;
  font-size: 2.3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h2 {
  color: #1d55aa;
  display: flex;
  justify-content: center;
  float: none;
  font-size: 1.9rem;
  margin-bottom: 1rem;
  margin-top: 2.8rem;
}

h3 {
  font-size: 1.6rem;
  color: #1d55aa;
  margin-bottom: 1rem;
  margin-top: 2.8rem;
}

h3 strong {
  color: #1d55aa;
}

h4 {
  font-size: 1.5rem;
  color: #247bff;
  margin-bottom: 1rem;
  margin-top: 2.8rem;
}

p {
  color: #476a9e;
  line-height: 1.5;
  margin-bottom: 10px;
}

p strong {
  color: #247bff;
}

ol {
  margin-left: 15px;
}

ol li {
  color: #247bff;
  font-size: 1.4rem;
  margin: 1rem;
  line-height: 1.5;
}

section {
  display: block;
  float: left;
  font-size: 1.5rem;
  padding: 20px;
  width: 100%;
}

section nav {
  display: block;
  float: left;
  width: 25%;
}

nav li {
  background-color: #cddaef;
  margin: 1px 20px 1px 0;
  padding: 10px;
}

nav li:hover {
  background-color: #97b3dd;
}

nav a {
  color: #247bff;
  text-decoration: none;
}

nav a:hover {
  color: #dce6f4;
}

label[for="bt_menu"] {
  padding: 5px;
  background-color: #0f2443;
  color: #dce6f4;
  font-family: 'Zen Old Mincho', serif;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

#bt_menu {
  display: none;
}

label[for="bt_menu"] {
  display: none;
}

section article {
  display: block;
  float: left;
  width: 65%;
}

article img {
  border-radius: 30px;
  display: flex;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  width: 50%;
}

footer {
  background-color: #0f2443;
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
}

footer p {
  color: #dce6f4;
  font-size: 1.4rem;
}

footer small {
  font-size: 80%;
  display: block;
}

.cognito {
  height: 400px !important;
  overflow: hidden !important;
}

@media (max-width: 425px) {
  section nav,
  section article {
    width: 90%;
  }

  article .container  {
    border-left: none;
  }

  .container {
    padding-left: 1%;
    padding-right: 1%;
  }

  article img {
    width: 60%;
  }

  .logo {
    width: 40%;
  }

  label[for=bt_menu]{
    display: block;
  }

  #bt_menu:checked ~ .menu {
   margin-left: 0;
  }

  .menu {
    margin-left: -100%;
    transition: all .5s;
  }

  .menu ul li {
    width: 95%;
    float: none;
  }

  .cognito {
    height: 400px !important;
    overflow: hidden !important;
  }

}